---
layout: default_en
format: frontpage_en
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}

<br/>
<div class="row">
    <div class="medium-6 medium-push-6 columns" markdown="1">
        <br/>
        <div class="flex-video">
            <iframe width="1280" height="720" src="//www.youtube.com/embed/I-vjrCkweeo" frameborder="0" allowfullscreen></iframe>
        </div>

        <br/>
        <!-- <div style="text-align:center">
         <a href="http://robotics.naist.jp/edu/text/">Robotics text</a>
         <br/>
         <a href="http://robotics.naist.jp/edu/text/"><img src="{{ site.url }}{{ site.baseurl }}/images/RoboticsText.jpg" alt="RL-intro" style="width: 300px;" style="height: 400px;"/></a>
         <br/>
         <br/>
         <br/>
        </div> -->

        <!--
        <br/>
        <div style="text-align:center">
         <a href="https://it3.naist.jp/">IT-Triadic: サイバーメディア社会におけるマルチスペシャリスト育成プログラム</a>
         <br/>
         <a href="https://it3.naist.jp/"><img src="{{ site.url }}{{ site.baseurl }}/images/RT-logo3s.jpg" alt="RL-intro" style="width: 300px;" style="height: 400px;"/></a>
        </div>
        -->

        <div style="text-align:center">
            <b>What's New</b><br/>
            The Robotics Laboratory closed in March 2021 due to the retirement of Professor Ogasawara.<br/>
            Therefore, we will not accept new students anymore.<br/>
        </div>

        <br/>
        <div style="text-align:center">
         <a href="https://www.youtube.com/user/NAISTRoboticsLab">Youtube</a>
         <br/>
         <a href="https://www.youtube.com/user/NAISTRoboticsLab"><img src="{{ site.url }}{{ site.baseurl }}/images/youtube.jpg" alt="RL-intro" style="width: 300px;" style="height: 400px;"/></a>
        </div>

        <div style="text-align:center">
         <a href="https://naoki-sh.github.io/cicp2019_uuv_webpage/home/">uuv project</a>
         <br/>
         <a href="https://naoki-sh.github.io/cicp2019_uuv_webpage/home/"><img src="{{ site.url }}{{ site.baseurl }}/images/suirobo.jpg" alt="RL-intro" style="width: 300px;" style="height: 400px;"/></a>
        </div>

        <div style="text-align:center">
         <a href="{{ site.url }}{{ site.baseurl }}/retire_party/en">Prof. Ogasawara　retirement party link</a>
         <br/>
        </div>


    </div>

    <br/>
    <div class="medium-6 medium-pull-6 columns" markdown="1" >
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNAIST.Robotics.Lab%2F&tabs=timeline&width=500&height=800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="600" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

    </div>

</div>
